html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9e9aa7;
  padding: 8px 5%;
}

.Navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar div div {
  padding: 12px 16px;
  cursor: pointer;
}

.Navbar div div:hover {
  color: #35323e;
}

.Navbar .user {
  float: right;
}

.Navbar .user div {
  padding: 10px 30px;
}

.Navbar .user .sign-up {
  background-color: #2acfcf;
  color: white;
  border-radius: 50px;
}

.Navbar .user .sign-up:hover {
  background-color: #93f0f0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 5% 5% 10% 5%;
}

.header .heading {
  font-size: 3rem;
  font-weight: 700;
  color: #35323e;
  margin-bottom: 10px;
}

.header .desc {
  color: #bfbfbf;
  margin-bottom: 25px;
}

.header .button {
  background-color: #2acfcf;
  color: white;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 20px;
}

.header .button:hover {
  background-color: #93f0f0;
}

.header .image {
  position: relative;
  right: -20%;
}

.header .written-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  margin-right: 12px;
  margin-left: 12px;
}

.section-1 {
  padding: 8px 5%;
  background-color: #f1f1f1;
}

.input-error::-webkit-input-placeholder {
  color: red;
}

.input-error:-ms-input-placeholder {
  color: red;
}

.input-error::-ms-input-placeholder {
  color: red;
}

.input-error::placeholder {
  color: red;
}

.new-link {
  border-radius: 8px;
  background-color: white;
  padding: 25px;
  margin-top: 16px;
}

.new-link .new-link-1 {
  color: #2acfcf;
  float: right;
  height: 100%;
}

.new-link .new-link-div {
  display: inline-block;
  padding-right: 16px;
}

.new-link .new-link-btn {
  background-color: #2acfcf;
  color: white;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

.new-link .new-link-btn:hover {
  background-color: #93f0f0;
}

.new-link .div-copied {
  background-color: #3b3054;
  color: white;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

.shorten-link {
  margin-top: -75px;
  background: url("../images/bg-shorten-desktop.svg"), #232127;
  background-size: cover;
  padding: 50px 50px 50px 50px;
  border-radius: 8px;
}

.shorten-link .s1 {
  display: inline-block;
  width: 80%;
}

.shorten-link input {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 100%;
}

.shorten-link input:focus {
  border: none;
  outline: none;
}

.shorten-link .div-btn {
  background-color: #2acfcf;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: center;
  width: 10%;
  float: right;
  padding: 10px 20px;
  border-radius: 8px;
}

.shorten-link .div-btn:hover {
  background-color: #93f0f0;
}

.shorten-link .error-message {
  display: none;
  color: red;
}

.shorten-link #loader {
  text-align: center;
  display: none;
  border: 4px solid White;
  border-radius: 50%;
  border-top: 4px solid #3b3054;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.cat-1 {
  text-align: center;
  padding-top: 100px;
}

.cat-1 .cat-1-1 {
  font-weight: 700;
  padding-bottom: 8px;
  font-size: 1.6rem;
}

.cat-1 .cat-1-2 {
  font-size: 0.95rem;
  color: #9e9aa7;
}

.cat-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15px auto 15px auto;
      grid-template-columns: auto 15px auto 15px auto;
  margin: 100px 0px;
}

.cat-2 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-2 .line div {
  height: 8px;
  width: 100%;
  background-color: #2acfcf;
  border: none;
}

.cat-2 .card-img {
  display: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: #3b3054;
  margin-top: -40px;
}

.cat-2 .card-img img {
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 20px;
}

.cat-2 .card-1 {
  display: relative;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 0 28px 28px 28px;
}

.cat-2 .card-2 {
  display: relative;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 0 28px 28px 28px;
  margin-top: 50px;
}

.cat-2 .card-3 {
  display: relative;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 0 28px 28px 28px;
  margin-top: 100px;
}

.cat-2 .head-1 {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 15px 0px;
}

.cat-2 .desc-1 {
  font-size: 0.95rem;
  color: #9e9aa7;
}

.section-2 {
  padding: 80px 5%;
  text-align: center;
  background: url("../images/bg-boost-desktop.svg"), #3b3054;
  background-size: cover;
}

.section-2 .div-1 {
  font-weight: 700;
  color: White;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.section-2 .div-2 {
  background-color: #2acfcf;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.section-2 .div-2:hover {
  background-color: #93f0f0;
}

.section-3 {
  background-color: #232127;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 100px 5%;
}

.section-3 .menus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.section-3 .menus ul {
  margin: 0;
  list-style-type: none;
}

.section-3 .menus .links {
  color: #bfbfbf;
  padding-top: 8px;
  cursor: pointer;
  font-size: 0.95rem;
}

.section-3 .menus .links:hover {
  color: #2acfcf;
}

.section-3 .menus .li-head {
  color: white;
  font-weight: 700;
  padding-bottom: 16px;
}

.section-3 .logo img {
  fill: white;
}

.section-3 .social-icons {
  text-align: center;
  cursor: pointer;
}

.section-3 .social-icons div {
  height: 24px;
  width: 24px;
  margin: 8px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-3 .social-icons div:hover {
  color: #2acfcf;
}

.section-3 .social-icons .fb {
  background-image: url("../images/icon-facebook.svg");
}

.section-3 .social-icons .fb:hover {
  background-image: url("../images/icon-facebook-cyan.svg");
}

.section-3 .social-icons .tw {
  background-image: url("../images/icon-twitter.svg");
}

.section-3 .social-icons .tw:hover {
  background-image: url("../images/icon-twitter-cyan.svg");
}

.section-3 .social-icons .pi {
  background-image: url("../images/icon-pinterest.svg");
}

.section-3 .social-icons .pi:hover {
  background-image: url("../images/icon-pinterest-cyan.svg");
}

.section-3 .social-icons .ig {
  background-image: url("../images/icon-instagram.svg");
}

.section-3 .social-icons .ig:hover {
  background-image: url("../images/icon-instagram-cyan.svg");
}
/*# sourceMappingURL=style.css.map */